@import "./scss/variables";
@import "./scss/left-container";
@import "./scss/right-container";
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
}

a {
  text-decoration: none;
  color: $secondary;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $main;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  #middle-line {
    width: 2px;
    height: 75vh;
    background-color: $secondary;
    animation: page-load 5s;
  }

  .line-shadow {
    box-shadow: 0px 0px 20px 3px $secondary;
  }
}

footer {
  position: absolute;
  color: $secondary;
  bottom: 35px;
  width: 100%;

  #footer {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;

    a {
      margin: 0 10px;
      color: $secondary;

      i {
        transition: all 0.2s;
        animation: page-load 5s;

        &:hover {
          transform: translateY(-5px);
        }
      }
    }

    .tooltip {
      margin: 0 8px;
      position: relative;
      transition: all 0.2s;
      cursor: pointer;
      animation: page-load 5s;

      .tooltiptext {
        font-size: 16px;
        width: 150px;
        position: absolute;
        margin-left: 10px;
        visibility: hidden;
      }

      &:hover {
        transform: translateY(-5px);
        .tooltiptext {
          visibility: visible;
        }
      }
    }
  }
}

@keyframes page-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@media screen and (max-width: 770px) and (min-width: 501px) {
  #container {
    padding: 0;
    margin: 0;
    // background-color: blue;
    flex-direction: column;

    #middle-line {
      width: 85vw;
      height: 2px;
      background-color: $secondary;
      animation: page-load 5s;
      position: absolute;
      top: 320px;
    }
  }
}

// Phone - less than 500px(max-width: 500px)
@media (max-width: 500px) {
  #container {
    padding: 0;
    margin: 0;
    flex-direction: column;
    height: 200vh;

    #middle-line {
      visibility: hidden;
    }
  }

  #footer {
    position: absolute;
    top: -20px;
    left: 36%;
  }
}
