@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
.btn {
  padding: 10px 20px;
  font-size: 20px;
  width: 130px;
  height: 45px;
  text-align: center;
  border-radius: 4px;
  color: #14ffec;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  cursor: pointer;
}

.btn:hover {
  color: #212121;
  background-color: #14ffec;
}

#left-container {
  width: 40vw;
  height: 75vh;
  color: #14ffec;
  position: relative;
}

#left-container #left-btn-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: page-load 3s;
          animation: page-load 3s;
}

#left-container #left-btn-container #left-btn:hover {
  cursor: pointer;
}

#left-container #about-me-container {
  visibility: hidden;
  opacity: 0;
  padding: 0 10%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ccd6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#left-container #about-me-container #name {
  color: #14ffec;
  font-size: 70px;
}

#left-container #about-me-container #resume {
  border: solid 1px #14ffec;
}

.btn {
  padding: 10px 20px;
  font-size: 20px;
  width: 130px;
  height: 45px;
  text-align: center;
  border-radius: 4px;
  color: #14ffec;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  cursor: pointer;
}

.btn:hover {
  color: #212121;
  background-color: #14ffec;
}

#right-container {
  width: 40vw;
  height: 90vh;
  color: #14ffec;
  position: relative;
  -webkit-animation: page-load 3s;
          animation: page-load 3s;
}

#right-container #right-btn-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#right-container #right-btn-container #left-btn:hover {
  cursor: pointer;
}

#right-container #my-works-container {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ccd6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: scroll;
}

#right-container #my-works-container::-webkit-scrollbar {
  width: 0 !important;
}

#right-container #my-works-container #work-collections {
  width: 100%;
  height: 90%;
}

#right-container #my-works-container #work-collections .work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  opacity: 0.4;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#right-container #my-works-container #work-collections .work-item:hover {
  width: 120%;
  opacity: 1;
}

#right-container #my-works-container #work-collections .work-item a {
  width: 50%;
}

#right-container #my-works-container #work-collections .work-item a img {
  width: 100%;
  border-radius: 3px;
}

#right-container #my-works-container #work-collections .work-item .work-description {
  position: relative;
  width: 50%;
  padding: 10px 15px;
}

#right-container #my-works-container #work-collections .work-item .work-description .divider-line {
  height: 1px;
  width: 100%;
  background-color: #14ffec;
  margin: 10px 0;
}

#right-container #my-works-container #work-collections .work-item .work-description .view-code {
  position: absolute;
  bottom: 15px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
}

a {
  text-decoration: none;
  color: #14ffec;
}

#container {
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #middle-line {
  width: 2px;
  height: 75vh;
  background-color: #14ffec;
  -webkit-animation: page-load 3s;
          animation: page-load 3s;
}

#container .line-shadow {
  -webkit-box-shadow: 0px 0px 20px 3px #14ffec;
          box-shadow: 0px 0px 20px 3px #14ffec;
}

footer {
  position: absolute;
  color: #14ffec;
  bottom: 35px;
  width: 100%;
}

footer #footer {
  width: 30%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #footer a {
  margin: 0 10px;
  color: #14ffec;
}

footer #footer a i {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: page-load 3s;
          animation: page-load 3s;
}

footer #footer a i:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

footer #footer .tooltip {
  margin: 0 8px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  -webkit-animation: page-load 3s;
          animation: page-load 3s;
}

footer #footer .tooltip .tooltiptext {
  font-size: 16px;
  width: 150px;
  position: absolute;
  margin-left: 10px;
  visibility: hidden;
}

footer #footer .tooltip:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

footer #footer .tooltip:hover .tooltiptext {
  visibility: visible;
}

@-webkit-keyframes page-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes page-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */